/*Stylesheet webshop WEBS*/

/* Page global */
body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

/* Banner */
div.banner-container {
    min-height: 300px;
    padding: 50px 0;
    position: relative;
}

.layout-fill {
    height: auto !important;
}

.background-cover {
    background: no-repeat center center;
    background-size: cover;
}

.layout-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.layout-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

div.banner-container .banner-text {
    text-align: center;
    color: #FFF;
    z-index: 2;
    background-color: rgba(120, 120, 120, 0.5);
}

.banner-title {
    text-align: left;
    margin-left: 25px;
}

.row {
    margin-top: 1.5rem !important;
}

.partial-title {
    border-bottom: 1px solid #3c5f76;
    color: #305476;
}

/* Product card */
.deal-badge {
    position: absolute;
    transform: rotate(31deg);
    left: 70%;
    top: 2%;
}

small {
    font-size: 23px;
}

/* Product view */
.price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}

.reviews_product .fa-star {
    color: gold;
}

.datasheet {
    border-radius: .3rem;
}

/* Product view images */
img {
    max-width: 100%;
}

.image-card {
    padding: 1em !important;
}

.image-card-body {
    padding: 0rem !important;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}