/*------------------------------------------------------------------
Stylesheet webshop WEBS2

[Table of contents]

1.	PageGlobal
2.	Menu
3.	Banner
4.	Product card
5.	Product view
6.	Product images
7.  Cookie alert
8.  Shopping cart

*/

/*	1.	PageGlobal
-------------------------------------------------------------------*/
body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.custom-margin {
    margin-top: 1.5rem !important;
}

.no-margin {
    margin-top: 0 !important;
}

.custom-padding {
    padding: 0 0 20px 0 !important;
}

/*	2.	Menu
-------------------------------------------------------------------*/
#menu {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 1052;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    background: #563d7c none;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}

#menu .navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu .navbar-toggle {
    border-color: #fff;
    margin-top: 23px;
    margin-bottom: 23px;
}

#menu .navbar-toggle:active, #menu .navbar-toggle:hover {
    background-color: transparent;
}

#menu .navbar-form {
    margin-top: 38px;
}

#menu .nav-item .nav-link {
    font-weight: bold;
    color: #FFF;
    font-size: 16px;
    padding: 0 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 50px;
}

@media (max-width: 991px) {
    #menu .nav-item .nav-link {
        margin-bottom: 5px;
        margin-top: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

#menu .nav-item.show > .nav-link, #menu .nav-item.show > .nav-link:focus, #menu .nav-item.show > .nav-link:hover, #menu .nav-item:focus > .nav-link, #menu .nav-item:hover > .nav-link {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#menu .nav-btn {
    background: none !important;
    padding-right: 0;
}

#menu .nav-btn > span {
    color: #ffce40;
    font-weight: bold;
    border: 1px solid #ffce40;
    padding: 10px 20px;
    border-radius: 3px;
}

@media (max-width: 991px) {
    #menu .nav-btn > span {
        line-height: 1;
    }
}

#menu .nav-btn:hover > span {
    background: #ffce40;
    color: #563d7c;
}

#menu .nav-btn.nav-btn-link > span {
    border-color: transparent;
}

#menu .nav-item.user-account .user-image {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    background: no-repeat center;
    border-radius: 5px;
    margin-right: 10px;
}

#menu.navbar-inverse .navbar-toggle:focus, #menu.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

#menu .dropdown .dropdown-menu {
    font-size: 14px;
}

#menu .dropdown .dropdown-menu > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu .dropdown .dropdown-item, #menu .dropdown .dropdown-menu a {
    color: #555;
}

@media (min-width: 992px) {
    #menu .dropdown .dropdown-menu {
        border: none;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s;
        transform: translate3d(0, 15px, 0);
        margin-top: 0;
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.1), 3px 3px 3px -3px rgba(0, 0, 0, 0.1), -3px 3px 3px -3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.1), 3px 3px 3px -3px rgba(0, 0, 0, 0.1), -3px 3px 3px -3px rgba(0, 0, 0, 0.1);
        box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.1), 3px 3px 3px -3px rgba(0, 0, 0, 0.1), -3px 3px 3px -3px rgba(0, 0, 0, 0.1);
    }

    #menu .dropdown:hover .dropdown-menu, #menu .dropdown.show .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    #menu .dropdown > a {
        position: relative;
    }

    #menu .dropdown > a:hover {
        opacity: 1 !important;
    }

    #menu .dropdown:hover > .nav-link:before, #menu .dropdown.show > .nav-link:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        margin-top: 5px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FFF;
    }
}

#menu .megamenu {
    position: static;
}

#menu .megamenu .dropdown-menu {
    width: 100%;
    border-radius: 0 !important;
    padding: 50px 20px;
}

#menu.navbar-over {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.6)), color-stop(100% rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#00000000', GradientType=0);
    background-repeat: repeat-x;
}

#menu.navbar-over.fixed-top {
    background: #563d7c none;
}

#menu.navbar-over.absolute-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

@media (min-width: 992px) {
    #menu.navbar-over {
        box-shadow: none;
    }

    #menu.navbar-over .dropdown:hover > a:before {
        margin-top: -10px;
    }

    #menu.navbar-over .nav-link {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    #menu.navbar-over .navbar-nav > li:hover > a {
        background: none;
    }

    #menu.navbar-over .navbar-brand {
        height: 110px;
    }

    #menu.navbar-over .navbar-brand img {
        max-height: 100%;
    }
}

.title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

/*	3.	Banner
-------------------------------------------------------------------*/
div.banner-container {
    min-height: 300px;
    padding: 50px 0;
    position: relative;
}

.layout-fill {
    height: auto !important;
}

.background-cover {
    background: no-repeat center center;
    background-size: cover;
}

.layout-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.layout-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

div.banner-container .banner-text {
    text-align: center;
    color: #FFF;
    z-index: 2;
    background-color: rgba(120, 120, 120, 0.5);
}

.banner-title {
    text-align: left;
    margin-left: 25px;
}

.partial-title {
    border-bottom: 1px solid #3c5f76;
    color: #305476;
}

/*	4.	Product Card
-------------------------------------------------------------------*/
.deal-badge {
    position: absolute;
    transform: rotate(31deg);
    left: 70%;
    top: 2%;
}

small {
    font-size: 23px;
}

/*	5.	Product view
-------------------------------------------------------------------*/
.price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}

.reviews_product .fa-star {
    color: gold;
    margin-top: 10px;
}

.datasheet {
    border-radius: .3rem;
}

.product-information-card {
    background-color: #eeeeee;
}

/*	6.	Product images
-------------------------------------------------------------------*/
img {
    max-width: 100%;
}

.image-card {
    padding: 1em !important;
}

.image-card-body {
    padding: 0 !important;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

/*	7.	Cookie alert
-------------------------------------------------------------------*/
.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    background: #212327 url("/application/assets/images/cubes.png");
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
}

.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies .more-information {
    vertical-align: baseline;
}

/*	8.	Shopping cart
-------------------------------------------------------------------*/

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }

    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }

}